<%- include("header.ejs") %>
    <h1>X-O game</h1>
    <h2>I am player <%= timesShown %> </h2>
    <table>
        <tr>
            <td id="1" onclick="sendMove(this);"></td>
            <td id="2" onclick="sendMove(this);"></td>
            <td id="3" onclick="sendMove(this);"></td>
        </tr>
        <tr>
            <td id="4" onclick="sendMove(this);"></td>
            <td id="5" onclick="sendMove(this);"></td>
            <td id="6" onclick="sendMove(this);"></td>
        </tr>
        <tr>
            <td id="7" onclick="sendMove(this);"></td>
            <td id="8" onclick="sendMove(this);"></td>
            <td id="9" onclick="sendMove(this);"></td>
        </tr>
    </table>
    <br><br>
    <script>
    var currInterval;
    var player= <%= timesShown %>;
    function SetP1(cell){
        document.getElementById(cell).classList.add("p1");
    }
    function SetP2(cell){
        document.getElementById(cell).classList.add("p2");
    }
    async function sendMove(el){
        let cell=el.id;
        let response = await fetch(`/GetMove/${player}/${cell}`);
        let data = await response.json();
        if(data.player%2==1){
            SetP1(data.cell);
        } else{
            SetP2(data.cell);
        }
        StartCheckingStatus();
    }
    async function fetchLast() {
        let response = await fetch('/GetLast');
        let data = await response.json();
        console.log(data);
        if(data.player != null){
            if(data.player%2==1){
                SetP1(data.cell);
            } else{
                SetP2(data.cell);
            }
            if(data.player != player){//my turn
                StopGetStatus();
            }
        }
    }
    function StartCheckingStatus(){
        currInterval=setInterval(fetchLast,500);
    }
    function StopGetStatus(){
        clearInterval(currInterval);
    }
    </script>
<%- include("footer.ejs") %>
